<section class="movie">
<div class="image">
        <%= image_tag @movie.image_file_name %>
    </div>
    <div class="summary">

        <h2><%= link_to @movie.title, movie_path %></h2>
        <h3>
            <%= total_gross(@movie) %>
        </h3>
        <h3>
        Director:
        <%= @movie.director %>
      </h3>
      <div class="reviews">
      <%= average_stars(@movie) %>
        <%= link_to pluralize(@movie.reviews.size, "review"),
            movie_reviews_path(@movie) %>


    </div>
    <%= link_to "Write Review", new_movie_review_path(@movie),
              class: "review" %>
      <h3>
        Duration:
        <%= @movie.duration %>
      </h3>
        <p>
            <%= truncate(@movie.description, length: 40, separator: ' ') %>
        </p>
    </div>
</section>

<section class="admin">
    <%= link_to "Edit", edit_movie_path(@movie), class: "button" %>
    <%= button_to 'delete', @movie, class: 'button', :method => 'delete' %>
</section>
